.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms-holder {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.header1 {
    margin-bottom: 0;
    margin-top: 0;
}

.forms-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 200px;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name {
    margin-right: 10px;
}

.takeQuiz-button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;

    font-size: 20px;
    background-color: rgb(96, 226, 109);
    border-radius: 7px;
    cursor: pointer;
}

.takeQuiz-button:hover {
    background-color: rgb(151, 222, 158);
}

.takeQuiz-button:active {
    background-color: rgb(96, 226, 109);
}

.result {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.score {
    margin-top: 0px;
    font-size: 20px;
}

.header-holder {
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.5s ease;
    padding: 10px 0;
    z-index: 1000;
}

.header.scrolled {
    background-color: rgb(96, 226, 109);
}